// Default Variables and Maps
// base
$font-size: 1.8rem !default
$line-height: 3.0rem/$font-size !default
$space-bottom: $font-size * $line-height !default

$color-bg: white !default
$color-text: #262626 !default
$color-text-alt: tomato !default
$color-link: blue !default
$color-title: black !default
$color-border: #d9d9d9 !default
$color-text-mark: tomato !default

// user content class
$user-content: content !default

// layout
$layout-width: 1920px !default
$layout-space-horizontal: 0 !default
$layout-grid-space: 100px !default

// sidebars
$sidebar-left-width: 320px !default

// form
$color-form-text: #262626 !default
$color-form-placeholder: lightgray !default
$color-form-bg: white !default
$color-form-border: lightgray !default
$color-form-border-focus: darken($color-form-border, 20%) !default
$color-form-error: red !default
$color-form-success: green !default
$space-bottom-form: 3rem !default

// btn
$color-btn-bg: tomato !default
$color-btn-bg-hover: darken($color-btn-bg, 20%) !default
$color-btn-text: white !default

// table color
$color-table-text: #262626 !default
$color-table-border: tomato !default
$color-table-bg: white !default
$color-table-text-alt: white !default
$color-table-bg-alt: tomato !default

// animation
$animation-speed: 0.2s !default
$animation-speed-mouseleave: 0.35s !default

// fonts style
$font-norm: 'Open Sans', sans-serif !default
//$font-b: 'Open Sans', sans-serif !default
//$font-i: 'Open Sans', sans-serif !default
//$font-bi: 'Open Sans', sans-serif !default
$font-alt: 'Noto Serif', serif !default

=font-normal()
	font:
		family: $font-norm
		weight: 300

=font-bold()
	font:
		weight: 700

=font-italic()
	font:
		weight: 300
		style: italic

=font-bold-italic()
	font:
		weight: 700
		style: italic

=font-title()
	font:
		family: $font-alt
		weight: 700
